@media screen and (max-widht:760px){
    header{
        flex-direction: column;

    }
    main{
        flex-direction: column;
    }
    h2{
        font-size: 30px;
    }
    form{
        margin: 0 auto;

    }
    input{
        align-self: auto;
    }
img{
    display: none;
}

ul{
    text-align: center;}
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}